html, body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 10px;
}
.header {
    width: 1024px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: 3px solid #b98030;
}
.left {
    display: flex;
}
.left img {
    height: 75px;
    margin-right: 10px;
}
.bottom {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #434343;
    font-family: "A1 Mincho Std";
    font-weight: bold;
    text-align: left;
}
.middle {
    font-size: 30px;
    letter-spacing: -4px;
    line-height: 14px;
    color: #000000;
    font-family: "A1 Mincho Std";
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
}
.top {
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 14px;
    color: #891b1e;
    font-family: "Gothic MB101 Pro";
    font-weight: bold;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 12px;
}
.icon {
    width: 31px;
    height: 20px;
    border-radius: 4px;
    background-image: linear-gradient(0deg, #6d0019 0%, #a90329 100%);
    float: left;
}
.num {
    font-size: 23px;
    line-height: 13px;
    color: #70001a;
    font-family: "Century";
    text-align: center;
    margin-left: 48px;
}
.bot {
    font-size: 10px;
    line-height: 14px;
    color: #333333;
    font-family: "Gothic MB101 Pro";
    font-weight: 500;
    text-align: center
}
.right {
    background-color: #f3f0ea;
    width: 240px;
    height: 50px;
    border: 1px solid #70001a; 
}
/* e0a8a9 */
.bot {
    margin-top: 13px;
    margin-left: 30px;
}
/* .right_2 {
    border: 1px solid #e0a8a9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
} */
.right_2 {
    border: 1px solid #e0a8a9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    /* padding-bottom: 6px; */
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 2px;
}
.content {
    margin: auto;
}
.content img {
    margin-left: 176px;
}
.footer {
    background-color: #8b1a20;
    height: 53px;
    margin-left: 180px;
    margin-right: 205px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
}
.left ul li {
    display: inline;
    font-size: 8px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Meiryo";
    margin-left: 25px;
}
.block-right {
    padding-top: 12px;
    margin-right: 30px;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #fff8ef;
    font-family: "Century";
    text-align: right;
}
.icon-footer {
    position: relative;
    top: 14px;
    left: 7px;
}
.icon-footer img {
    width: 188px;
    height: 12px;
}
ul {
    position: relative;
    top: -5px;
    left: -242px;
}
.img-footer {
    margin-right: 209px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}